body {
    font-family: sans-serif;
    text-align: center;
}

.link-header{
    color: rgb(233, 46, 108);
    text-decoration: none;
    font-size: 30px;
    background-color: darkblue;
    border-radius: 15px;
    padding: 5px;
    margin-right: 55px;
}

.link-header:hover{
    color: darkblue;
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(233, 46, 108);
    border-radius: 15px;
    padding: 5px;
    transition: 1s linear;
}

.link-nav{
    color: darkblue;
    margin: 5px;
    font-size: 20px;
    background-color: palevioletred;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
}
.link-nav:hover{
    color: palevioletred;
    margin: 5px;
    font-size: 20px;
    background-color: darkblue;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
    transition: 1s linear;
}

h1{
    color: rgba(192, 2, 103, 0.795);
    background-image: linear-gradient(to bottom, deeppink, white, darkmagenta); 
    margin: 5px;
    font-size: 28px;
    text-decoration: none;
    padding: 5px;
    margin-left: 170px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

li{
    font-size: 20px;
    color: darkblue;
}

ul {
    position: absolute;
    left: 150px;
}

.istorii {
    margin-top: 100px;
}
